* {
    font-family: Pop-R;
    background-color: #102832;
}

/*  */
.btn-naked{
    font-size: 32px;
    font-family: Pop-S;
}
.btn-naked:hover{
    color: #4bc799;
    text-decoration: none;
    transition: 1000ms;
}
.internal-link{
    font-size: 14px;
    font-family: Pop-S;
    color: #FFF;

}
.internal-link:hover{
    color: #4bc799;
    text-decoration: none;
    transition: 1000ms;
}
.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 235 184 / 8%);
}


/*  */
nav a{
    font-family: Pop-R;
    font-size: 14px;
}
.banner-home{
    min-height: auto;
    padding-top: 12.5vh;
    padding-bottom: 15vh;
}
.banner-home h1{
    font-family: 'Pop-B';
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
    margin-top: 0px;
}
.underline-double {
  background-image: linear-gradient(to bottom, #15c699 33%, transparent 33%, transparent 66%, #15c699 66%, #15c699);
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  background-size: 2px 6px;
}
.banner-left img{
    width: 35%;
}
.home-recent{
    /* padding-top: 120px; */
    padding-top: 10px;
    padding-bottom: 120px;
}
.clickable-recents:hover{
    text-decoration: none;
    transition: 1000ms;
}
.recent-homeindi img{
    border-radius: 5px;
    margin-bottom: 20px;
}
.recent-homeindi h4{
    font-family: 'Pop-S';
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
}
.recent-homeindi p{
    font-size: 14px;
    line-height: 1.75;
    color: #e5e5e5;
    background-color: transparent;

}
.about-home{
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-home h3{
    font-family: Pop-S;
    font-size: 30px;
    line-height: 1.75;
    color: #fff;
}
.about-home .btn-naked{
    font-size: 1rem;
    float: left;
    text-align: center;
    padding: 5px 30px;
    border: 2px solid #ffffff0a;
    border-radius: 8px;
    color: #102832;
    vertical-align: middle;
    font-family: Pop-S;
    /*  */
    border-radius: 3.3333333333333335rem;
    letter-spacing: 0.1111111111111111rem;
    padding-right: 1.3333333333333333rem;
    padding-left: 1.3333333333333333rem;
    padding-top: 0.8888888888888888rem;
    padding-bottom: 0.7222222222222222rem;
    text-transform: uppercase;
    background-color: #ffebb8;
    margin-top: 25px;
}
.about-right img{
    /* margin-left: -15px;
    width: 15%; */
    margin-bottom: 30px;
    width: 10rem;
}


/*  */
.head-section {
    padding-top: 20px;
    padding-bottom: 70px;
}
.head-section h1{
    font-family: PlexIBM-Bo;
    font-size: 4rem;
    line-height: 1.5;
    color: #fff;
}
.projindi-proj{
    padding-top: 10px;
    padding-bottom: 45px;
}
.projindi-proj img{
    /* margin-top: 40px; */
    border-radius: 5px;
}
.projindi-proj .projindi-left{
    padding-top: 20px;
    padding-bottom: 20px;
}
.projindi-proj .projindi-right{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.projindi-proj .projindi-left h4{
    font-family: PlexIBM-SeBo;
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
}
.projindi-proj .projindi-left a{
    font-size: 18px;
}
.projindi-proj .projindi-right p{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 0px;
    position: absolute;
    top: 40;
}
.nav-paginate nav{
    margin-top: 60px;
}
.nav-paginate .page-link{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #313335;
    border: 1px solid #5b636a;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #292a2c;
    border-color: #5b636a;
}



/*  */
.header-fullwide h3{
    color: #fff;
    font-family: PlexIBM-Bo;
    font-size: 36px;
    margin-bottom: 40px;
}
.linear-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(27 58 70 / 50%);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.navbar-light .navbar-text {
    color: rgb(255 255 255);
}
.navbar-brand img{
    width: 90px;
}
.navbar-brand1{ display: none; }.navbar-brand2{ display: block; }
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
}
.nav-link:hover {
    color: #4bc799;
    transition: 1000ms;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
}
.navbar-expand-lg .first-nav-item .nav-link{
    padding-left: 0px;
}

/*  */
.side-head h4{
    font-family: Pop-S;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}
.side-head h4 *{
    font-family: Pop-S; 
}
.side-para p{
    font-size: 14px;
    line-height: 1.75;
    color: #e5e5e5;
}
.side-para img{
    border-radius: 5px;
}
.section-leaf{
    padding-bottom: 90px;
    padding-top: 90px;
}
.section-leaf .row{
    margin-bottom: 40px;
}
.side-para .btn-naked {
    font-size: 24px;
    color: #ff8f00;
}
.side-para .breadcrumb{
    background-color: transparent;
    border-radius: .25rem;
    border: unset;
    padding: 0;
}
.side-para .breadcrumb-item{
    font-size: 18px;
    line-height: 2;
    color: #fff;
}
.side-para .breadcrumb-item+.breadcrumb-item::before {
    color: #555960;
}
.side-para h5{
    font-size: 20px;
    text-decoration: underline;
    line-height: 1.5;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Pop-S;
}
.clickable-recents:hover .recent-homeindi h4{
    color: #4bc799;
    text-decoration: underline;
    transition: 1000ms;
}
/* .clickable-recents{
    min-height: 540px;
} */
.btn-moreprojects{
    float: left;
    margin-top: 50px;
    font-size: 40px;
}

/*  */
#footer-main{
    background-color: #2B2D30;
}
.footer-logo img{
    width: 100px;
    margin-left: 0px;
    margin-top: 15px;
}
.footer-grid ul{
    padding-left: 0px;
    list-style-type: none;
    text-align: left;
}
#footer-main .head-section{
    padding-top: 0px;
} 
.footer-grid ul li a{
    font-size: 14px;
    color: #fff;
    line-height: 3.5rem;
    font-family: Pop-R;
}
.footer-grid ul li {
    font-size: 14px;
    color: #fff;
    line-height: 2.5rem;
}
.footer-grid ul li a:hover{
    color: #4bc799;
    transition: 1000ms;
} 
.side-para ul{
    padding-left: 20px;
    list-style-type: disc;
}
.side-para ul li{
    color: #fff;
}
.side-para .card{
    background-color: transparent;
    border: unset;
    border-radius: 0px;
}
.side-para .card img{
    border-radius: 4px;
}
.side-para .card-body {
    padding: 0.25rem;
    margin-bottom: 30px;
}
.iHeadBold {
    font-family: Pop-B;
    background-color: transparent;
    padding: 0px 3px;
    border-radius: 1px;
    /* border-bottom: 5.5px solid #4bc799; */
    /* color: #4bc799; */
    /* color: #F5D991; */
 }
.specialh1 h1{
     font-size: 24px;
}
.otherlinks{
    text-align: right;
}
.url-list-table .table thead th {
    color: #e5e5e5;
}
.url-list-table .table td, .table th {
    color: #e5e5e5;
}
.url-list-table .table a{
    color: #e5e5e5;
}
.url-list-table .table a:hover{
    color: #4bc799;
    transition: 1000ms;
    text-decoration: none;
}
/*  */
.navbar-toggler-icon {
    position: relative;
}    
.navbar-toggler-icon img{
    flex: 1;
    justify-content: space-around;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*  */
@media only screen and (max-width: 990px) {
    .navbar-brand1 {
        display: block;
    }
    .navbar-text {
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        float: right;
    }
    /* nav .collapse.show {
        text-align: right;
    } */

}
@media only screen and (max-width: 768px) {
    .banner-left img {
        width: 120px;
        margin-bottom: 40px;
    }
    .banner-home h1 {
        font-size: 32px !important;
    }
    .header-fullwide h3 {
        font-size: 32px;
    }
    .recent-homeindi h4 {
        font-size: 32px;
    }
    .about-home h3 {
        font-size: 32px;
    }
    .otherlinks {
        text-align: left;
    }
    .head-section h1 {
        font-size: 32px;
        margin-bottom: 0px;

    }
    /* .projindi-proj .projindi-right {
        padding-top: 0px;
        padding-bottom: 0px;
    } */
    .projindi-proj .projindi-right p {
        position: relative;
        top: unset;
    }
    .about-right img {
        width: 120px;
    }
    

}

/*  */

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        /* box-shadow: inset 0 0 5px #fff;  */
        border-radius: 0px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 0px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }


/* UPDATE 2022 JAN */
.projindi-proj .projindi-grid22 h4{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: Pop-S;
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
}
.projindi-proj .projindi-grid22 p{
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.75;
    color: #e5e5e5;
    background-color: transparent;
}
.projindi-proj .projindi-grid22 a{
    font-size: 14px;
    font-family: Pop-S;
    /* margin-top: 15px; */
    /* float: left; */
    color: #ffebb8;
    text-transform: uppercase;
    letter-spacing: 0.1111111111111111rem;
}
.projindi-proj .row{
    margin-top: 50px;
    margin-bottom: 50px;
}
.projindi-proj .row-one{
    margin-top: 0px;
}
/*  */
/*  */
/*  */
/* a:hover .rightArrow{
    animation: moveToRight 2s ease-in-out;
    animation-delay: 200ms;
}
@keyframes moveToRight {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(300px);
      }
} */

/* .projindi-grid22{
    border: 1px solid #122e39;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 5px;
}
.projindi-grid22:hover{
    background-color: #0e242d;
    border: 1px solid #0e242d;
    transition: 1000ms;
}
.recent-homeindi {
    border: 1px solid #122e39;
    padding: 15px;
    border-radius: 5px;
}
.recent-homeindi:hover {
    background-color: #0e242d;
    border: 1px solid #0e242d;
    transition: 1000ms;
} */

.home-recent .btn-naked {
    font-size: 1rem;
    float: left;
    text-align: center;
    padding: 5px 30px;
    border: 2px solid #ffffff0a;
    border-radius: 8px;
    color: #102832;
    vertical-align: middle;
    font-family: Pop-S;
    /*  */
    border-radius: 3.3333333333333335rem;
    letter-spacing: 0.1111111111111111rem;
    padding-right: 1.3333333333333333rem;
    padding-left: 1.3333333333333333rem;
    padding-top: 0.8888888888888888rem;
    padding-bottom: 0.7222222222222222rem;
    text-transform: uppercase;
    background-color: #ffebb8;
}
.head-shot{
    width: 100%;
    border-radius: 9px;
    margin: 0px 0px;
    margin-top: 10px;
    -webkit-box-shadow: 1px 3px 49px 10px rgba(251 240 211);
    -moz-box-shadow: 1px 3px 49px 10px rgba(251 240 211);
    box-shadow: 1px 3px 49px 10px rgba(251 240 211);
}
.side-head .blockquote p{
    font-size: 26px;
    padding-right: 0rem;
    margin-bottom: 15px !important;
    font-family: PlexIBM-Me !important;
    color: #fff;
}
.blockquote-footer {
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
}
.projindi-grid22{
    margin-bottom: 60px;
}
.head-section .head-emoji{
    width: 90px;
}
.head-section .head-emoji-sm{
    width: 90px;
}
.table th, .table td {
    border-top: 1px solid #1c3d4a;
}
.alert-warning {
    color: #ffffff;
    background-color: #1c3b48;
    border-color: #3b6272;
}
.alert-warning .btn-naked{
    font-size: 16px;
}

/* 

*/

/* @keyframes floater {
    0%{transform: translateY(-10%);transition: ease 0.5s;}
    20%{transform: translateY(10%);transition: ease 0.5s;}
    40%{transform: translateY(30%);transition: ease 0.5s;}
    60%{transform: translateY(60%);transition: ease 0.5s;}
    80%{transform: translateY(80%);transition: ease 0.5s;}
}
.float-area{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
  
.floating-img{
    transform: translateY(-10%);
    animation: floater 1.5s infinite;
    transition: ease 0.5s;
    width: 350px;
} */
.floating-img1{
    width: 20rem;
    /* transition: transform .7s ease-in-out; */
    /*  */
    /* -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    transition-delay: 500ms; */
    /*  */
    position: absolute;
    left: 0;
    transition: all 5s ease-out;
} 
.floating-img2{
    width: 18rem;
}
.floating-img1:hover{
    /* transform: rotate(10deg); */
    opacity:0;
    /* transition: all 0.3s ease-in-out; 
    transform: rotate3d(0,0,0,10deg); */
    transition: all 3s ease-in-out;
} 

.side-head .blockquote{
    padding: 15px;
    background-color: #0f2630;
    border: 4px solid rgb(255 255 255 / 8%);
    border-radius: 15px;
}
.side-head .blockquote p{
    background-color: transparent;
}
.side-head .blockquote footer{
    background-color: transparent;
}
@media only screen and (max-width: 560px) {
    .floating-img1{
        width: 15rem;

    } 
    .floating-img2{
        width: 12rem;
    }

}

/*  */

/* .btn-naked:hover{
    text-decoration: underline;
} */

.projindi-grid22 .breadcrumb{
    background-color: transparent;
    color: #e5e5e5;
    padding: 0px;
    padding-bottom: 15px;
}
.projindi-grid22 .breadcrumb-item{
    background-color: #0d2f3c;
    padding: 2.5px 15px;
    border-radius: 5px;
    margin-right: 10px;
}
.projindi-grid22 .breadcrumb-item:before{
    content: " ";
}
.head-section {
    padding-bottom: 0px !important;
}
.prima-para .linear-hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.prima-para h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
}
.section-leaf{
    padding-bottom: 50px !important;
    padding-top: 50px !important;
}

/* BEGIN HEADSHOT ANIMATION */
    .image-shadow:after {
        transform: scale(0.95) translateY(36px) translateZ(-30px);
        filter: blur(20px);
        opacity: 0.9;
        content: '';
        position: absolute;
        width: auto;
        height: auto;
        background-image: inherit;
        background-size: contain;
        z-index: -1;
        transition: filter .3s ease;
    }
  
    .image-shadow {
        margin: 5px auto;
        /* width: 400px;
        height: 400px; */
        border-radius: 5px;
        display: block;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* .light {
        background: radial-gradient(ellipse at center, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 60%);
        width: 600px;
        height: 600px;
        background-blend-mode: lighten;
        position: fixed;
        pointer-events: none;
    } */
    .js-tilt-container {
        transition: transform .1s ease;
        transform: rotateX(0) rotateY(0);
        transform-style: preserve-3d;
    }
    /* .leave {
        transform: rotateX(0) rotateY(0) !important;
        transition-timing-function: cubic-bezier(0.42, 0, 0, 1)!important;
        transition-duration: 1.5s;
    } */
/* END HEADSHOT ANIMATION */

.over-headpad{
    margin-top: 5rem;
}
.projindi-grid22 .breadcrumb .breadcrumb-item{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}
.projindi-grid22 .breadcrumb .breadcrumb-item::before{
    display: none;
}
a{
    text-decoration: none !important;
}

/*  */
.uxHead{
       background-image: linear-gradient(
         -225deg,
         #22CB93 0%,
         #22CB93 10%,
         #4bc799 20%,
         #4bc799 30%,
         #4bc799 40%,
         #4bc799 50%,
         #4bc799 60%,
         #4bc799 70%,
         #4bc799 80%,
         #22CB93 90%,
         #22CB93 100%
       );
       background-size: auto auto;
       background-clip: border-box;
       background-size: 200% auto;
       color: #fff;
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       animation: textclip 8s linear infinite;
       display: inline-block;
       text-decoration: none;
       animation-direction: reverse;
 
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
}
/*  */
.all-watch-dial .side-para p{
    text-align: center !important;
    margin-bottom: 5rem;
}
.indi-project-only .head-section h1 {
    font-size: 56px;
}
.indi-project-only .side-head h4 {
    font-size: 24px;
}
.indi-project-only .side-head h4 u {
    text-decoration: none;
}
/* .indi-project-only .feature-grid .col-md-3{
    background: rgb(255,166,0);
    background: -moz-linear-gradient(145deg, rgba(255,166,0,1) 0%, rgba(255,196,0,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(255,166,0,1) 0%, rgba(255,196,0,1) 100%);
    background: linear-gradient(145deg, rgba(255,166,0,1) 0%, rgba(255,196,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa600",endColorstr="#ffc400",GradientType=1);
}
.indi-project-only .feature-grid .col-md-5{
    background: rgb(255,166,0);
    background: -moz-linear-gradient(145deg, rgba(255,166,0,1) 0%, rgba(255,196,0,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(255,166,0,1) 0%, rgba(255,196,0,1) 100%);
    background: linear-gradient(145deg, rgba(255,166,0,1) 0%, rgba(255,196,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa600",endColorstr="#ffc400",GradientType=1);
} */
.badge-url{
    color: #ff7f11;
}
.badge-url:hover{
    color: #ff7f11;
}
.badge-url .badge{
    padding: 0.15em 0.25em;
    font-size: 60%;
}
.badge-url .position-absolute{
    bottom: 75%;
}
/*  */
.headshot{
    display: grid;
    align-content: center;
    overflow: hidden;
    gap: var(--space);
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
}
/*  */
/*  */
/*  */
.banner-center{
    text-align: left !important;
}
.banner-center p{
    color: #e5e5e5;
    margin: 2rem 0rem;
    font-size: 14px;
    padding-right: 25rem;
}
.banner-center .btn-naked{
    font-size: 1rem;
    float: left;
    text-align: center;
    padding: 5px 30px;
    border: 2px solid #ffffff0a;
    border-radius: 8px;
    color: #102832;
    vertical-align: middle;
    font-family: Pop-S;
    /*  */
    border-radius: 3.3333333333333335rem;
    letter-spacing: 0.1111111111111111rem;
    padding-right: 1.3333333333333333rem;
    padding-left: 1.3333333333333333rem;
    padding-top: 0.8888888888888888rem;
    padding-bottom: 0.7222222222222222rem;
    text-transform: uppercase;
    background-color: #ffebb8;
}
.side-para-about-right{
    padding: 10px;
    /* background-color: #0f262f; */
    border-radius: 5px;
}
.side-para-about-right .breadcrumb, nav, .breadcrumb-item{
    background-color: transparent;
}
.side-para .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    content: " ";
    display: none;
}
.side-para .breadcrumb-item {
    font-size: 14px;
    line-height: 2;
    color: #fff !important;
    padding: 10px;
    background-color: transparent;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #112b36;
    font-family: Pop-S;
}
.contact-side-bread-item .breadcrumb-item {
    font-size: 14px;
    line-height: 2;
    color: #fff !important;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #112b36;
    font-family: Pop-S;
    background: linear-gradient(to right, #0c232c, #0b232c) !important;
    background: #0b232c !important;
    background: -webkit-linear-gradient(to right, #0c232c, #0b232c) !important;
}
/* .contact-side-bread-item .breadcrumb-item span{
    background-color: transparent !important;
} */
span{
    background-color: transparent !important;
}
.side-para .breadcrumb-item {
    background-color: transparent;
}
@media only screen and (max-width: 680px) {
    .banner-center {
        text-align: center !important;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .about-home .btn-naked {
        font-size: 30px;
    }
    .home-recent .btn-naked {
        font-size: 30px;
    }
    .projindi-grid22 .breadcrumb .breadcrumb-item {
        margin-bottom: 10px;
    }
    .banner-center p {
        padding: 10px !important;
    }
    .about-home h3 {
        font-size: 24px;
    }
}
.section-leaf img{
    border-radius: 5px !important;
}
.row .card-img-top{
    border-radius: 5px !important;
}
.side-para h4{
    font-family: Pop-S;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}
.aubi-uresear ul li{
    margin-bottom: 10px;
}
/*  */
/*  */
.ball {
    border-radius: 50%;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 20px, 0);
    }
}
.ball {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(
    .5, 0.05, 1, .5);
    -webkit-animation-iteration-count: infinite;
}
  
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }
}
/*  */
/*  */
/*  */
.disclaimer ul{
    list-style-type: none;
}
.navbar {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#footer-main .linear-hr{
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.btn-naked-transpa{
    font-size: 1rem;
    float: left;
    text-align: center;
    padding: 5px 30px;
    border: 2px solid #ffebb8;
    border-radius: 8px;
    color: #ffebb8;
    vertical-align: middle;
    font-family: Pop-B;
    border-radius: 3.3333333333333335rem;
    letter-spacing: 0.1111111111111111rem;
    padding-right: 1.3333333333333333rem;
    padding-left: 1.3333333333333333rem;
    padding-top: 0.8888888888888888rem;
    padding-bottom: 0.7222222222222222rem;
    text-transform: uppercase;
    background-color: #102832;
    margin-top: 30px;
    /* transition-delay: 3000; */
    transition: 1000ms !important;
}
.btn-naked-transpa:hover{
    background-color: #ffebb8;
    color: #102832;
    transition: 1000ms;
}
.btn-naked-filled{
    font-size: 1rem;
    float: left;
    text-align: center;
    padding: 5px 30px;
    border: 2px solid #ffffff0a;
    border-radius: 8px;
    color: #102832;
    vertical-align: middle;
    font-family: Pop-B;
    border-radius: 3.3333333333333335rem;
    letter-spacing: 0.1111111111111111rem;
    padding-right: 1.3333333333333333rem;
    padding-left: 1.3333333333333333rem;
    padding-top: 0.8888888888888888rem;
    padding-bottom: 0.7222222222222222rem;
    text-transform: uppercase;
    background-color: #ffebb8;
    transition-delay: 3000;
    transition: 1000ms;
}
.btn-naked-filled:hover{
    background-color: #102832;
    color: #ffebb8;
    transition: 1000ms;
}
.head-section h1{
    font-family: Pop-S;
}
.head-section .iHeadBold {
    font-family: Pop-S;
}
.url-list-table th, td{
    font-size: 14px !important;
}
.side-para-special-border-case{
    border-right: 1px solid rgb(28 61 74);
    padding-right: 20px;
}
.main-sub-head{
    font-size: 42px;
    font-family: Cor-R;
    color: #FFF;
    margin-bottom: 40px;
}
.btn-project-or-internal-link{
    color: #ffebb8;
    font-family: Pop-R;
    font-size: 14px;
}
.btn-project-or-internal-link:hover{
    color: #fff;
}
.corshame-persona-grid{
    padding: 15px;
    border: 1px solid #1d3945;
    border-radius: 5px;
    margin-bottom: 30px;
    min-height: 480px;
}
.corshame-persona-grid-aubi{
    padding: 15px;
    border: 1px solid #1d3945;
    border-radius: 5px;
    margin-bottom: 30px;
    min-height: 660px;
}


/* image disable */
img{
    pointer-events: none;
}
.side-para h6{
    color: #fff;
    font-size: 16px;
    font-family: Pop-S;
}
.RVEQke{
    display: none !important;
}
.corsch-desi-sol{
    display: inline-flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    border: 1px solid rgb(255 255 255 / 10%);
    padding: 10px 8px;
    border-radius: 5px;
    width: 100%;
}
.corsch-desi-sol img{
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
.corsch-desi-sol p{
    margin-bottom: 0px;
}
.corsch-desi-proto{
    text-align: center;
}
.corsch-desi-proto p{
    margin-top: 15px;
    display: none;
}
.corsch-desi-proto img{
    width: 100%;
    height: 100%;
}
/*  */
/*  */
/*  */
.shopee-persona-card .card-body h6{
    margin-top: 10px;
    font-weight: 300;
    font-family: Pop-R;
    font-size: 14px;
}
.shopee-persona-card .card-body h5{
    margin-top: 10px;
    text-decoration: none;
    margin-bottom: 8px;
}
.shopee-persona-card .card-body ul{
    list-style-type: none;
    padding-left: 0px;
    display: inline-flex;
    margin-top: 0px;
    margin-bottom: 0px;
}
.shopee-persona-card .card-body li{
    margin-right: 20px;
}
.shopee-persona-card .card-body hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.shopee-persona-card .card-body tr th{
    font-size: 14px;
    font-family: Pop-R;
}
.shopee-persona-card .card-body tr td{
    font-size: 14px !important;
    color: #fff;
    padding-left: 25px;
}
.shopee-persona-card .card-body{
    margin-bottom: 0px;
}
/* .shopee-persona-card {
    border: 1px solid #ffffff14;
    padding: 10px;
    border-radius: 5px;
} */
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgb(255 255 255 / 10%);
}
.alert {
    font-size: 14px;
}
.corshame-persona-grid-quote{
    padding: 15px;
    border: 1px solid #1d3945;
    border-radius: 5px;
    margin-bottom: 30px;
    min-height: auto; 
}
.corshame-persona-grid-quote p{
    margin-bottom: 0px;
}
.corshame-persona-grid-quote ul{
    margin-bottom: 0px;
}
.persona-card-alnassr .card-title{
    margin-top: 10px;
    margin-bottom: 5px;
}
.persona-card-alnassr .card-title{
    margin-top: 10px;
    margin-bottom: 5px;
}




/*  */
@media only screen and (max-width: 700px) {
    .banner-home {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .banner-home h1 {
        font-size: 54px !important;
        line-height: 1.5;
    }
    .recent-homeindi h4 {
        font-size: 18px;
        margin-bottom: 40px;
    }
    .about-home h3 {
        font-size: 18px;
    }
    .side-para-special-border-case {
        border-right: none;
    }
    .section-about .url-list-table{
        margin-top: 40px !important;
    }
    .head-section h1 {
        font-size: 54px;
    }
}
@media only screen and (max-width: 540px) {
    .banner-home h1 {
        line-height: 1.25;
        text-align: left;
    }
    .banner-center {
        padding-left: 0px;
    }
    .banner-center p {
        text-align: left;
        padding-left: 0px !important;
    }
}
/*  */
/*  */

.all-project-table tbody tr td{
    vertical-align: middle !important;
}